<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" 
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title>index</title>
</head>
<body>
	<a th:href="@{/trans}">asdf</a>
	
	<form th:action="@{/trans}" method="post">
        <label for="url">URL:</label>
        <input type="text" id="url" name="url" required>
        <button type="submit">확인</button>
        
        <label for="videoId">YouTube Video ID:</label>
        <input type="text" id="videoId" th:attr="disabled=${!validVideoId}" />
        <button type="submit" th:disabled="${!validVideoId}">Submit</button>
    </form>
    
    <form>
    </form>
</body>
</html>