<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" 
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title>result</title>
<link rel="stylesheet" th:href="@{/css/trans.css}">
<script th:inline="javascript" th:src="@{/script/trans.js}"></script>
</head>
<body>
	<h2>OCR 결과</h2>
    <p th:text="${result}"></p>
    
    <section>
	    <iframe id="player" type="text/html" width="640" height="360"
			th:src="|https://www.youtube.com/embed/${videoCode}|"
			frameborder="0">
		</iframe>
    </section>
	
	<h1>Input Value: <span th:text="${url}"></span></h1>
	<h1>VideoCode: <span th:text="${videoCode}"></span></h1>
	<input id="urlid" name="urlid" type="hidden" value="${url}">
	
	<button onclick="startOCR()">Start OCR</button>
    <button onclick="stopOCR()">Stop OCR</button>
	
</body>
</html>