<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" 
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title>result</title>
</head>
<body>
	<h2>OCR 결과</h2>
    <p th:text="${result}"></p>
    
    <iframe id="player" type="text/html" width="640" height="360"
		th:src="|https://www.youtube.com/embed/${inputValue}|"
		frameborder="0">
	</iframe>
	
	<h1>Input Value: <span th:text="${url}"></span></h1>
	<input id="urlid" name="urlid" type="hidden" value="${url}">
	
</body>
</html>